<h1>Votre inscription a bien été prise en compte !</h1><br>

<p>Résumé de votre inscription :</p>



<p>Un email de confirmation reprenant toutes les informations nécessaires vous a été envoyé à l'adresse <b><%= @subscription.email %></b></p>