<h1>Vos avantages et remboursements</h1> <br><br>
<b><u>NATATION / MULTISPORTS</u></b>, plusieurs solutions vous sont proposées :<br>
<ul>
  <br><li>- un <b>remboursement mutuelle</b> (certaines mutuelles proposent des remboursements jusqu’à 100 € pour l’année) ;</li><br>
  <li>- le paiement avec des <b>chèques sport</b> (à demander à votre employeur ou à votre commune) ;</li><br>

  <li>- <b>déduction fiscale</b> afin de déduire aux contributions ;</li><br>

  <li>- bénéficier de <b>50% sur votre prochain abonnement</b> par tranche d’inscription de 2 enfants/adultes parrainés grâce à vous !  <%= link_to "Cliquez-ici", '/Parrainage.pdf', :target => '_blank' %></li><br>
  <li>- offrez <b>20 €</b> à quelqu’un de votre entourage !
    <%= link_to "Cliquez-ici", '/Parrainage.pdf', :target => '_blank' %>
  </li><br>
</ul><br>


Pour les <b><u>STAGES SPORTIFS :</u></b><br>

<ul>
  <br>
  <li>- un <b>remboursement mutuelle</b> (certaines mutuelles proposent des remboursements jusqu’à 100 € pour l’année) ;</li><br>
  <li>- le paiement avec des <b>chèques sport</b> (à demander à votre employeur ou à votre commune) ;</li><br>
  <li>- <b>déduction fiscale</b> afin de déduire aux contributions ;</li><br>

  <li>- Pour les employés <b>BNP Paribas FORTIS</b>, paiement du stage par votre employeur !</li><br>
  <li>- Réduction de 20% pour les employés de <b>ING</b></li><br>
  <li>- Réduction de 20% pour les employés communaux de Farciennes</li><br>
</ul>