<table width="100%" height="100%" align="center" id="ecxbodyTable" style="padding: 0px; width: 100% !important; height: 100% !important; border-collapse: collapse; background-color: rgb(31, 231, 231)" border="0" cellspacing="0" cellpadding="0">
  <tbody>
  <tr>
    <td align="center" id="ecxbodyCell" valign="top" style="padding: 20px; width: 100% !important; height: 100% !important; border-top-color: currentColor; border-top-width: 0px; border-top-style: none">
      <table width="600" id="ecxtemplateContainer" style="border: 0px currentColor; border-collapse: collapse" border="0" cellspacing="0" cellpadding="0">
        <tbody>
        <tr>
          <td align="center" valign="top">
            <table width="600" id="ecxtemplatePreheader" style="border-top-color: currentColor; border-bottom-color: currentColor; border-top-width: 0px; border-bottom-width: 0px; border-top-style: none; border-bottom-style: none; border-collapse: collapse; background-color: rgb(255, 255, 255)" border="0" cellspacing="0" cellpadding="0">
              <tbody>
              <tr>
                <td class="ecxpreheaderContainer" valign="top" style="padding-top: 9px"></td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td align="center" valign="top">
            <table width="600" id="ecxtemplateHeader" style="border-top-color: currentColor; border-bottom-color: currentColor; border-top-width: 0px; border-bottom-width: 0px; border-top-style: none; border-bottom-style: none; border-collapse: collapse; background-color: rgb(255, 255, 255)" border="0" cellspacing="0" cellpadding="0">
              <tbody>
              <tr>
                <td class="ecxheaderContainer" valign="top">
                  <table width="100%" class="ecxmcnImageGroupBlock" style="border-collapse: collapse" border="0" cellspacing="0" cellpadding="0">
                    <tbody class="ecxmcnImageGroupBlockOuter">
                    <tr>
                      <td class="ecxmcnImageGroupBlockInner" valign="top" style="padding: 9px">
                        <table width="273" align="left" class="ecxmcnImageGroupContentContainer" style="border-collapse: collapse" border="0" cellspacing="0" cellpadding="0">
                          <tbody>
                          <tr>
                            <td class="ecxmcnImageGroupContent" valign="top" style="padding-top: 0px; padding-bottom: 0px; padding-left: 9px">
                              <img width="264" class="ecxmcnImage" style="border: 0px currentColor; padding-bottom: 0px; text-decoration: none; vertical-align: bottom; -ms-interpolation-mode: bicubic; max-width: 400px" alt="" src="https://gallery.mailchimp.com/8c39d93e1efdd7472776f73d7/images/055040aa-9858-4525-b9bd-7a7076d41a3f.jpg"/>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                        <table width="273" align="right" class="ecxmcnImageGroupContentContainer" style="border-collapse: collapse" border="0" cellspacing="0" cellpadding="0">
                          <tbody>
                          <tr>
                            <td class="ecxmcnImageGroupContent" valign="top" style="padding-top: 0px; padding-right: 9px; padding-bottom: 0px">
                              <img width="264" class="ecxmcnImage" style="border: 0px currentColor; padding-bottom: 0px; text-decoration: none; vertical-align: bottom; -ms-interpolation-mode: bicubic; max-width: 460px" alt="" src="https://gallery.mailchimp.com/8c39d93e1efdd7472776f73d7/images/0113e8ec-5c2f-4394-a11e-d94ac63f14dc.jpg"/>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td align="center" valign="top">
            <table width="600" id="ecxtemplateBody" style="border-top-color: currentColor; border-bottom-color: currentColor; border-top-width: 0px; border-bottom-width: 0px; border-top-style: none; border-bottom-style: none; border-collapse: collapse; background-color: rgb(255, 255, 255)" border="0" cellspacing="0" cellpadding="0">
              <tbody>
              <tr>
                <td class="ecxbodyContainer" valign="top">
                  <table width="100%" class="ecxmcnTextBlock" style="border-collapse: collapse" border="0" cellspacing="0" cellpadding="0">
                    <tbody class="ecxmcnTextBlockOuter">
                    <tr>
                      <td class="ecxmcnTextBlockInner" valign="top">
                        <table width="600" align="left" class="ecxmcnTextContentContainer" style="border-collapse: collapse" border="0" cellspacing="0" cellpadding="0">
                          <tbody>
                          <tr>
                            <td class="ecxmcnTextContent" valign="top" style="padding: 9px 18px; text-align: left; color: rgb(96, 96, 96); line-height: 150%; font-family: Helvetica; font-size: 15px">
                              <h1 style="padding: 0px; text-align: center; color: rgb(96, 96, 96) !important; line-height: 125%; letter-spacing: -1px; font-family: Helvetica; font-size: 40px; font-style: normal; font-weight: bold; display: block">
                                <br/><span style="font-size: 14px"><span style="color: rgb(128, 128, 128)">Chers parents, nous vous informons que votre </span></span><span style="color: rgb(128, 128, 128)"><font size="5">abonnement NATATION</font></span><span style="font-size: 14px"><span style="color: rgb(128, 128, 128)"> arrive à</span><br/><span style="font-size: 24px"><strong><span style="color: rgb(51, 204, 255)">échéance ce
                                <%= l @subscription.dueDate %>  </span></strong></span>.</span></h1>
                              <br/><br/><br/>
                              <div style="text-align: center"><span style="font-size: 64px"><strong><span style="color: rgb(169, 169, 169)">Pour</span><br/>
                                                                    renouveler ?</strong></span><br/>
                              </div>
                              <span style="font-size: 64px"><span style="font-size: 14px"><span style="color: rgb(255, 165, 0)"><strong>Veuillez effectuer le virement au plutard le jour d'échéance de votre abonnement. Veuillez vous munir de la preuve de paiement pour la 1ère séance du nouvel abonnement<br/>
                                                                 sans quoi votre enfant ne sera pas pris en charge</strong></span></span></span><br/><span style="font-family: arial,helvetica"><span style="color: rgb(169, 169, 169)">Compte BNP &gt; <strong>BE08 001-5862423-13 </strong>code BIC GEBABEBB </span></span><br/><span style="font-family: arial,helvetica"><span style="color: rgb(169, 169, 169)">Communication &gt;<strong> </strong></span><span style="color: rgb(255, 255, 255)"><strong><font style="background-color: rgb(0, 255, 255)"><span style="background-color: rgb(51, 204, 255)">
                              <%= @subscription.lastName + ' ' + @subscription.firstName %>
                              + code <%= @subscription.swim_lesson.code %> </span></font></strong></span></span><br/><br/><span style="font-size: 12px"><span style="font-size: 14px"><span style="color: rgb(255, 0, 0)"><strong>ATTENTION En cas de non-paiement </strong>dans le délai imparti, votre place sera libérée.</span></span></span><br/><br/>
                              <p style="padding: 0px; text-align: left; color: rgb(96, 96, 96); line-height: 150%; font-family: Helvetica; font-size: 15px">
                                <span style="color: rgb(51, 204, 255)"><span style="font-size: 18px"><strong>Abonnements au choix &gt;</strong></span></span><br/><span style="color: rgb(128, 128, 128)"><span style="font-size: 18px"><strong><span style="font-size: 12px">Nos prix comprennent les entrées piscine et l'assurance pendant la durée de l'abonnement choisi.</span></strong></span></span>
                              </p>
                              <p style="padding: 0px; text-align: center; color: rgb(96, 96, 96); line-height: 150%; font-family: Helvetica; font-size: 15px">
                                <br/>
                              </p>
                              <p style="padding: 0px; text-align: left; color: rgb(96, 96, 96); line-height: 150%; font-family: Helvetica; font-size: 15px">
                                <br/><span style="color: rgb(105, 105, 105)"><span style="font-size: 32px"><strong>36 séances </strong></span><span style="font-size: 12px">(groupe de 2 à 5 enfants max.)  </span><strong><font size="4"><span style="font-size: 32px">&gt; 289 €</span></font></strong></span><br/><span style="color: rgb(128, 128, 128)"><span style="background-color: rgb(255, 255, 0)">AVANTAGE N°1 : </span><span style="font-size: 32px"><strong><span style="background-color: rgb(255, 255, 0)">67€ d'économie </span></strong></span><span style="background-color: rgb(255, 255, 0)">sur l'année !!</span><br/><span style="background-color: rgb(255, 255, 0)">AVANTAGE N°2 : </span><span style="font-size: 18px"><strong><span style="background-color: rgb(255, 255, 0)">STAGE GRATUIT </span></strong></span><span style="font-size: 12px"><span style="background-color: rgb(255, 255, 0)">(1 semaine pendant les congés scolaires)<br/>
                                                                    OU </span><span style="font-size: 18px"><strong><span style="background-color: rgb(255, 255, 0)">50% sur une ANIMATION ANNIVERSAIRE </span></strong></span><span style="background-color: rgb(255, 255, 0)">(en piscine ou en salle de Sports)</span></span></span><br/><br/><br/><span style="color: rgb(105, 105, 105)"><span style="font-size: 18px"><strong>18 séances </strong><span style="font-size: 12px">(groupe de 2 à 5 enfants max.)</span><strong> &gt; 149€</strong></span></span><br/><span style="color: rgb(128, 128, 128)"><span style="background-color: rgb(255, 255, 0)">AVANTAGE : </span><span style="font-size: 18px"><strong><span style="background-color: rgb(255, 255, 0)">29€ d'économie </span></strong></span><span style="background-color: rgb(255, 255, 0)">sur la demi-année !!</span></span><br/><br/><br/><span style="font-size: 18px"><strong><font color="#696969">9 séances </font></strong><span style="font-size: 12px"><font color="#696969">(groupe de 2 à 5 enfants max.)</font></span><strong><font color="#696969"> &gt; 89 €</font></strong></span><br/>
                                <br/>
                              </p>
                              <table width="600" id="ecxtemplateContainer" style="border: 0px currentColor; border-collapse: collapse" border="0" cellspacing="0" cellpadding="0">
                                <tbody>
                                <tr>
                                  <td align="center" valign="top">
                                    <table width="600" id="ecxtemplateBody" style="border-top-color: currentColor; border-bottom-color: currentColor; border-top-width: 0px; border-bottom-width: 0px; border-top-style: none; border-bottom-style: none; border-collapse: collapse; background-color: rgb(255, 255, 255)" border="0" cellspacing="0" cellpadding="0">
                                      <tbody>
                                      <tr>
                                        <td class="ecxbodyContainer" valign="top">
                                          <table width="100%" class="ecxmcnTextBlock" style="border-collapse: collapse" border="0" cellspacing="0" cellpadding="0">
                                            <tbody class="ecxmcnTextBlockOuter">
                                            <tr>
                                              <td class="ecxmcnTextBlockInner" valign="top">
                                                <table width="600" align="left" class="ecxmcnTextContentContainer" style="border-collapse: collapse" border="0" cellspacing="0" cellpadding="0">
                                                  <tbody>
                                                  <tr>
                                                    <td class="ecxmcnTextContent" valign="top" style="padding: 9px 18px; text-align: left; color: rgb(96, 96, 96); line-height: 150%; font-family: Helvetica; font-size: 15px"></td>
                                                  </tr>
                                                  </tbody>
                                                </table>
                                              </td>
                                            </tr>
                                            </tbody>
                                          </table>
                                          <table width="100%" class="ecxmcnCaptionBlock" style="border-collapse: collapse" border="0" cellspacing="0" cellpadding="0">
                                            <tbody class="ecxmcnCaptionBlockOuter">
                                            <tr>
                                              <td class="ecxmcnCaptionBlockInner" valign="top" style="padding: 9px">
                                                <table width="100%" class="ecxmcnCaptionRightContentOuter" style="border-collapse: collapse" border="0" cellspacing="0" cellpadding="0">
                                                  <tbody>
                                                  <tr>
                                                    <td class="ecxmcnCaptionRightContentInner" valign="top" style="padding: 0px 9px">
                                                      <table align="left" class="ecxmcnCaptionRightImageContentContainer" style="border-collapse: collapse" border="0" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                        <tr>
                                                          <td class="ecxmcnCaptionRightImageContent" valign="top">
                                                            <img width="264" class="ecxmcnImage" style="border: 0px currentColor; height: auto !important; text-decoration: none; vertical-align: bottom; -ms-interpolation-mode: bicubic; max-width: 299px" alt="" src="https://gallery.mailchimp.com/8c39d93e1efdd7472776f73d7/images/ce952301-eb3b-4f79-a6c7-60f9e19d2050.jpg"/>
                                                          </td>
                                                        </tr>
                                                        </tbody>
                                                      </table>
                                                      <table width="264" align="right" class="ecxmcnCaptionRightTextContentContainer" style="border-collapse: collapse" border="0" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                        <tr>
                                                          <td class="ecxmcnTextContent" valign="top" style="text-align: left; color: rgb(96, 96, 96); line-height: 150%; font-family: Helvetica; font-size: 15px">
                                                            <p style="padding: 0px; text-align: left; color: rgb(96, 96, 96); line-height: 150%; font-family: Helvetica; font-size: 15px">
                                                              <span style="color: rgb(255, 140, 0)"><span style="font-size: 24px"><strong>Comment faire des économies  ?</strong></span></span><br/><span style="font-size: 24px"><span style="font-size: 14px">Faites notre pub &gt; parrainez et profitez de <strong>PROMO à 50% par tranches de deux inscrits grâce à vous</strong><br/><span style="font-size: 11px">(conditions ci-dessous)</span></span></span><br/>
                                                            </p>
                                                          </td>
                                                        </tr>
                                                        </tbody>
                                                      </table>
                                                    </td>
                                                  </tr>
                                                  </tbody>
                                                </table>
                                              </td>
                                            </tr>
                                            </tbody>
                                          </table>
                                          <table width="100%" class="ecxmcnTextBlock" style="border-collapse: collapse" border="0" cellspacing="0" cellpadding="0">
                                            <tbody class="ecxmcnTextBlockOuter">
                                            <tr>
                                              <td class="ecxmcnTextBlockInner" valign="top">
                                                <table width="600" align="left" class="ecxmcnTextContentContainer" style="border-collapse: collapse" border="0" cellspacing="0" cellpadding="0">
                                                  <tbody>
                                                  <tr>
                                                    <td class="ecxmcnTextContent" valign="top" style="padding: 9px 18px; text-align: left; color: rgb(96, 96, 96); line-height: 150%; font-family: Helvetica; font-size: 15px">
                                                      <p style="padding: 0px; text-align: center; color: rgb(96, 96, 96); line-height: 150%; font-family: Helvetica; font-size: 15px">
                                                        <strong><span style="font-size: 64px">CONDITIONS <span style="color: rgb(169, 169, 169)">Générales</span><br/><span style="color: rgb(64, 224, 208)"><span style="font-size: 12px">Dès réception de votre 1er paiement nous considérons que vous avez lu et<br/>
                                                                                                                    approuvé les conditions qui suivent</span></span></span></strong>
                                                      </p>
                                                      <hr/>
                                                      <p style="padding: 0px; text-align: center; color: rgb(96, 96, 96); line-height: 150%; font-family: Helvetica; font-size: 15px">
                                                        <br/>
                                                      </p>
                                                    </td>
                                                  </tr>
                                                  </tbody>
                                                </table>
                                              </td>
                                            </tr>
                                            </tbody>
                                          </table>
                                          <table width="100%" class="ecxmcnImageBlock" style="border-collapse: collapse" border="0" cellspacing="0" cellpadding="0">
                                            <tbody class="ecxmcnImageBlockOuter">
                                            <tr>
                                              <td class="ecxmcnImageBlockInner" valign="top" style="padding: 9px">
                                                <table width="100%" align="left" class="ecxmcnImageContentContainer" style="border-collapse: collapse" border="0" cellspacing="0" cellpadding="0">
                                                  <tbody>
                                                  <tr>
                                                    <td class="ecxmcnImageContent" valign="top" style="padding: 0px 9px">
                                                      <img width="564" align="left" class="ecxmcnImage" style="border: 0px currentColor; height: auto !important; padding-bottom: 0px; text-decoration: none; vertical-align: bottom; display: inline !important; -ms-interpolation-mode: bicubic; max-width: 610px" alt="" src="https://gallery.mailchimp.com/8c39d93e1efdd7472776f73d7/images/a158104b-c865-4926-b05b-17876d3b3722.jpg"/>
                                                    </td>
                                                  </tr>
                                                  </tbody>
                                                </table>
                                              </td>
                                            </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td align="center" valign="top">
                                    <table width="600" id="ecxtemplateColumns" style="border-top-color: currentColor; border-bottom-color: currentColor; border-top-width: 0px; border-bottom-width: 0px; border-top-style: none; border-bottom-style: none; border-collapse: collapse; background-color: rgb(255, 255, 255)" border="0" cellspacing="0" cellpadding="0">
                                      <tbody>
                                      <tr>
                                        <td width="50%" align="left" class="ecxcolumnsContainer" valign="top">
                                          <table width="100%" class="ecxtemplateColumn" style="border-collapse: collapse" border="0" cellspacing="0" cellpadding="0">
                                            <tbody>
                                            <tr>
                                              <td class="ecxleftColumnContainer" valign="top">
                                                <table width="100%" class="ecxmcnTextBlock" style="border-collapse: collapse" border="0" cellspacing="0" cellpadding="0">
                                                  <tbody class="ecxmcnTextBlockOuter">
                                                  <tr>
                                                    <td class="ecxmcnTextBlockInner" valign="top">
                                                      <table width="300" align="left" class="ecxmcnTextContentContainer" style="border-collapse: collapse" border="0" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                        <tr>
                                                          <td class="ecxmcnTextContent" valign="top" style="padding: 9px 18px; text-align: left; color: rgb(96, 96, 96); line-height: 150%; font-family: Helvetica; font-size: 15px">
                                                            <span style="color: rgb(64, 224, 208)"><span style="font-size: 18px">Introduction</span></span>
                                                            <p style="padding: 0px; text-align: justify; color: rgb(96, 96, 96); line-height: 150%; font-family: Helvetica; font-size: 15px">
                                                              <span style="font-size: 11px"><span style="color: rgb(128, 128, 128)"><span style="font-family: tahoma,sans-serif">Nous souhaitons placer une confiance de part et d'autre en respectant les engagements mentionnés. D'avance, nous vous remercions pour votre compréhension. </span></span><span style="color: rgb(255, 165, 0)"><strong><span style="font-family: tahoma,sans-serif">Dès réception du 1er paiement, nous considérons que ces conditions ont été lues et approuvées.</span></strong></span></span><br/><br/><span style="color: rgb(0, 128, 0)"><span style="font-size: 18px">Organisation des séances</span></span><br/><span style="color: rgb(128, 128, 128)"><span style="font-size: 11px">Pour faciliter le déroulement des séances, il sera demandé aux élèves d'être prêt à l'heure et de se présenter auprès de leur moniteur ou monitrice attitré.  La prise en charge des enfants est prévue pour la demi heure, l'avant et après séance, l'enfant restera sous la responsabilité des parents. </span></span><br/><br/><span style="color: rgb(0, 128, 128)"><span style="font-size: 18px">Bulletin de natation</span></span><br/><br/><img width="200" height="282" align="none" style="border: 0px currentColor; width: 200px; height: 282px; text-decoration: none; -ms-interpolation-mode: bicubic" src="https://gallery.mailchimp.com/8c39d93e1efdd7472776f73d7/images/77d7582a-efa5-40cd-80fd-2710b04ca910.jpg"/><br/><span style="color: rgb(128, 128, 128)"><span style="font-size: 11px">Un bulletin de natation sera distribué en début d'activité à chaque nouvel inscrit, il devra être rapporté aux jours prévus pour les passages des brevets (les dates des évaluations vous seront rappelées par votre moniteur/monitrice). Ce bulletin sert également pour l'évaluation lors de nos stages sportifs.</span></span><br/><span style="color: rgb(255, 165, 0)"><span style="font-size: 11px"><strong>Tout bulletin égaré pourra être acheté au prix de 3 euros / pièce.</strong></span></span><br/><span style="color: rgb(128, 128, 128)"><span style="font-size: 11px">L'enfant absent lors du jour de passage des brevets ne pourra pas repasser les épreuves pour ce cycle. Nous souhaitons de cette manière, ne pas pénaliser les autres enfants du groupe en ne portant l'attention que sur cet enfant à son retour.</span></span><br/><br/><span style="color: rgb(255, 165, 0)"><span style="font-size: 18px">Assurances</span></span><br/><span style="color: rgb(128, 128, 128)"><span style="font-size: 11px"><span lang="FR" style="font-family: tahoma,sans-serif">L'assurance accident est comprise dans le prix de l'abonnement que vous aurez choisi et pour la durée de celui-ci.</span></span></span><br/>
                                                              <br/><span style="color: rgb(175, 238, 238)"><span style="font-size: 18px">Fermeture de la piscine</span></span><br/><span style="color: rgb(128, 128, 128)"><span style="font-size: 11px"><span lang="FR" style="font-family: tahoma,sans-serif">Pour des raisons techniques, nous ne sommes pas à l'abri d'une fermeture obligatoire de la piscine pour une période déterminée ou indéterminée. Dans ce cas de figure, les apprentissages se donneront dans un autre établissement en continuité avec l'abonnement payé.</span></span></span>
                                                            </p>
                                                            <p style="padding: 0px; text-align: justify; color: rgb(96, 96, 96); line-height: 150%; font-family: Helvetica; font-size: 15px">
                                                              <span style="color: rgb(128, 128, 128)"><span style="font-size: 11px"><span lang="FR" style="font-family: tahoma,sans-serif">Uniquement dans la situation où nous ne trouverions pas de piscine pour nous accueillir, un calcul restant sur votre abonnement se fera et vous obtiendrez alors par courrier postal le bon de réduction de la somme restante à faire valoir sur toutes nos activités.</span></span></span><br/>
                                                            </p>
                                                          </td>
                                                        </tr>
                                                        </tbody>
                                                      </table>
                                                    </td>
                                                  </tr>
                                                  </tbody>
                                                </table>
                                              </td>
                                            </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                        <td width="50%" align="left" class="ecxcolumnsContainer" valign="top">
                                          <table width="100%" class="ecxtemplateColumn" style="border-collapse: collapse" border="0" cellspacing="0" cellpadding="0">
                                            <tbody>
                                            <tr>
                                              <td class="ecxrightColumnContainer" valign="top">
                                                <table width="100%" class="ecxmcnTextBlock" style="border-collapse: collapse" border="0" cellspacing="0" cellpadding="0">
                                                  <tbody class="ecxmcnTextBlockOuter">
                                                  <tr>
                                                    <td class="ecxmcnTextBlockInner" valign="top">
                                                      <table width="300" align="left" class="ecxmcnTextContentContainer" style="border-collapse: collapse" border="0" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                        <tr>
                                                          <td class="ecxmcnTextContent" valign="top" style="padding: 9px 18px; text-align: left; color: rgb(96, 96, 96); line-height: 150%; font-family: Helvetica; font-size: 15px">
                                                            <span style="color: rgb(0, 255, 0)"><span style="font-size: 18px">Inscription et paiement</span></span><br/><span style="font-size: 14px"><span style="color: rgb(255, 0, 0)"><span lang="FR" style="font-family: tahoma,sans-serif">La réservation de votre place sera effective dès réception du paiement et pas avant.</span></span></span><br/><span style="color: rgb(128, 128, 128)"><span style="font-size: 11px"><span lang="FR" style="font-family: tahoma,sans-serif">Après avoir rempli le formulaire d'inscription en ligne sur <a style="color: rgb(109, 198, 221); font-weight: normal; text-decoration: underline; -ms-word-wrap: break-word" href="http://www.vivasport.be/" target="_blank" rel="noreferrer">www.vivasport.be</a>, vous recevez ce mail de confirmation. Dès lors, il est impératif d'effectuer le virement directement pour le solde de l'abonnement de votre choix. </span></span></span><br/><br/><span style="color: rgb(255, 165, 0)"><span style="font-size: 18px">Changement de groupe</span></span>
                                                            <p style="padding: 0px; text-align: left; color: rgb(96, 96, 96); line-height: 150%; font-family: Helvetica; font-size: 15px">
                                                              <span style="color: rgb(128, 128, 128)"><span style="font-size: 11px"><span lang="FR" style="font-family: tahoma,sans-serif">Selon l'évolution de votre/vos enfant(s), nous l'/les orienterons, pour qu'il(s) progresse(nt) au mieux, vers un groupe plus adapté à son/leur niveau après ou en cours d'un cycle d'apprentissage. L'horaire ou le jour de séance sera donc susceptible d'être changé. Nous nous efforcerons de satisfaire les demandes.</span></span></span><br/><br/><span style="color: rgb(64, 224, 208)"><span style="font-size: 18px">Echéance d'abonnement</span></span><br/><span style="color: rgb(128, 128, 128)"><span style="font-size: 11px">Arrivé au terme de votre abonnement choisi, vous pouvez, à votre gré évidemment, continuer ou stopper les apprentissages. Trois semaines avant l'échéance, vous recevrez un mail d'avertissement chaque semaine pour le renouvellement et un SMS vous sera envoyé 1 semaine avant la fin de l'abonnement en cours.<br/>
                                                                                                                                Ce sera donc au moment du nouveau paiement que votre place restera effective.<br/>
                                                                                                                                Nous vous conseillons d'effectuer un virement à l'avance pour ne pas perdre votre place.</span></span><br/><br/><span style="color: rgb(255, 140, 0)"><span style="font-size: 18px">Changement de moniteur/monitrice possible</span></span><br/><span style="color: rgb(128, 128, 128)"><span style="font-size: 11px"><span lang="FR" style="font-family: tahoma,sans-serif">En cours de cycle, il se peut que, pour diverses raisons valables, le/la moniteur/trice attitré(e) soit remplacé(e).</span></span></span><br/><br/><span style="color: rgb(0, 255, 255)"><span style="font-size: 18px">Présence des parents lors des séances</span></span><br/>
                                                              <span style="color: rgb(128, 128, 128)"><span style="font-size: 11px"><span lang="FR" style="font-family: tahoma,sans-serif">Il vous sera demandé, pour le bon fonctionnement des activités, de vous placer dans les parties GRADINS évitant ainsi une déconcentration de nos élèves. </span></span></span><span lang="FR" style="font-family: tahoma,sans-serif; font-size: 7pt"><span style="color: rgb(128, 128, 128)"><span style="font-size: 11px">Dans le règlement d'ordre d'intérieur de la piscine il est exclu de se balader au bord de l'eau avec des chaussures.</span></span></span><br/><br/><span style="color: rgb(238, 130, 238)"><span style="font-size: 18px">Remboursement mutuelle</span></span><br/>
                                                            </p>
                                                            <p style="padding: 0px; text-align: justify; color: rgb(96, 96, 96); line-height: 150%; font-family: Helvetica; font-size: 15px">
                                                              <span style="font-size: 11px"><span style="color: rgb(128, 128, 128)"><span lang="FR" style="font-family: tahoma,sans-serif">De nombreuses mutualités proposent une intervention financière vous permettant ainsi d'alléger le coût de votre abonnement sportif, il vous suffit de nous apporter l'attestation officielle et nous vous la rendrons, dans la quinzaine voir fin du mois, dûment complétée lors de votre jour et heure de séance.</span></span></span>
                                                            </p>
                                                            <p style="padding: 0px; text-align: justify; color: rgb(96, 96, 96); line-height: 150%; font-family: Helvetica; font-size: 15px">
                                                              <span style="font-size: 11px"><span style="color: rgb(128, 128, 128)"><span lang="FR" style="font-family: tahoma,sans-serif">Afin de ne pas égarer cette attestation, il vous sera demandé d'inscrire au préalable toutes les informations nécessaires excepté les emplacements qui nous sont réservés.</span></span></span><br/><br/><span style="color: rgb(211, 211, 211)"><font size="4">Déduction fiscale</font></span><br/><span style="font-size: 11px"><span style="color: rgb(128, 128, 128)"><span lang="FR" style="font-family: tahoma,sans-serif">Une attestation fiscale vous sera distribuée en fin d'année civile. Celle-ci vous permettra de déduire aux contributions sous la rubrique de garde d'enfants à raison de 40% sur la valeur totale !</span></span></span><br/>
                                                            </p>
                                                            <p style="padding: 0px; text-align: left; color: rgb(96, 96, 96); line-height: 150%; font-family: Helvetica; font-size: 15px">
                                                              <span style="color: rgb(0, 255, 0)"><font size="4">Parrainage</font></span><br/><span style="color: rgb(128, 128, 128)"><span style="font-size: 11px">Suite à 2 enfants parrainés (connaissances ou autres) grace à vous, une <span style="font-size: 14px"><span style="background-color: rgb(255, 255, 0)">réduction de 50%</span></span> vous sera octroyée sur <span style="font-size: 14px"><span style="background-color: rgb(255, 255, 0)">votre </span><strong><span style="background-color: rgb(255, 255, 0)">prochain abonnement</span></strong><span style="background-color: rgb(255, 255, 0)">.</span></span><br/><br/>
                                                                                                                                Conditions : offre non cumulable avec d'autres offres. Le parrainage (les coordonnées des 2 personnes souhaitant s'inscrire) doit nous parvenir par vous-même et via le formulaire en ligne uniquement. Pour valider le parrainage, vous devrez nous envoyer un Email directement mentionnant les personnes parrainées.<br/>
                                                                                                                                Les 3 abonnements devront être de somme identique (exemple : si les  2 nouveaux enfants inscrits souscrivent un abonnement de 149€ chacun, vous bénéficiez d'une promo de 74,5€ !!)</span></span><br/><br/>
                                                            </p>
                                                            <p style="padding: 0px; text-align: left; color: rgb(96, 96, 96); line-height: 150%; font-family: Helvetica; font-size: 15px">
                                                              <br/>
                                                            </p>
                                                            <br/>
                                                          </td>
                                                        </tr>
                                                        </tbody>
                                                      </table>
                                                    </td>
                                                  </tr>
                                                  </tbody>
                                                </table>
                                              </td>
                                            </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td align="center" valign="top">
                                    <table width="600" id="ecxtemplateFooter" style="border-top-color: currentColor; border-bottom-color: currentColor; border-top-width: 0px; border-bottom-width: 0px; border-top-style: none; border-bottom-style: none; border-collapse: collapse; background-color: rgb(255, 255, 255)" border="0" cellspacing="0" cellpadding="0">
                                      <tbody>
                                      <tr>
                                        <td class="ecxfooterContainer" valign="top" style="padding-bottom: 9px">
                                          <table width="100%" class="ecxmcnImageBlock" style="border-collapse: collapse" border="0" cellspacing="0" cellpadding="0">
                                            <tbody class="ecxmcnImageBlockOuter">
                                            <tr>
                                              <td class="ecxmcnImageBlockInner" valign="top" style="padding: 9px">
                                                <table width="100%" align="left" class="ecxmcnImageContentContainer" style="border-collapse: collapse" border="0" cellspacing="0" cellpadding="0">
                                                  <tbody>
                                                  <tr>
                                                    <td class="ecxmcnImageContent" valign="top" style="padding: 0px 9px">
                                                      <img width="564" align="left" class="ecxmcnImage" style="border: 0px currentColor; height: auto !important; padding-bottom: 0px; text-decoration: none; vertical-align: bottom; display: inline !important; -ms-interpolation-mode: bicubic; max-width: 2205px" alt="" src="https://gallery.mailchimp.com/8c39d93e1efdd7472776f73d7/images/bd410300-09d4-4a1e-a791-cbacf2559152.jpg"/>
                                                    </td>
                                                  </tr>
                                                  </tbody>
                                                </table>
                                              </td>
                                            </tr>
                                            </tbody>
                                          </table>
                                          <table width="100%" class="ecxmcnImageCardBlock" style="border-collapse: collapse" border="0" cellspacing="0" cellpadding="0">
                                            <tbody class="ecxmcnImageCardBlockOuter">
                                            <tr>
                                              <td class="ecxmcnImageCardBlockInner" valign="top" style="padding: 9px 18px">
                                                <table width="100%" align="left" class="ecxmcnImageCardBottomContent" style="border: 1px solid rgb(153, 153, 153); border-collapse: collapse; background-color: rgb(51, 51, 51)" border="0" cellspacing="0" cellpadding="0">
                                                  <tbody>
                                                  <tr>
                                                    <td align="left" class="ecxmcnImageCardBottomImageContent" valign="top" style="padding: 18px 18px 0px">
                                                      <img width="500" class="ecxmcnImage" style="border: 0px currentColor; height: auto !important; text-decoration: none; vertical-align: bottom; -ms-interpolation-mode: bicubic; max-width: 500px" alt="" src="https://gallery.mailchimp.com/8c39d93e1efdd7472776f73d7/images/2c2554be-5c34-48f9-92db-5bf6f953938f.jpg"/>
                                                    </td>
                                                  </tr>
                                                  <tr>
                                                    <td width="528" class="ecxmcnTextContent" valign="top" style="padding: 9px 18px; text-align: left; color: rgb(96, 96, 96); line-height: 125%; font-family: Helvetica; font-size: 11px">
                                                      <p style="padding: 0px; text-align: center; color: rgb(96, 96, 96); line-height: 125%; font-family: Helvetica; font-size: 11px"><span style="color: rgb(255, 140, 0)"><span style="font-size: 32px"><strong>Bonne saison et bon amusement </strong><br/><br/>
                                                                                                                    à nos petits nageurs !</span></span><br/><br/><br/><br/><br/><br/>
                                                      </p>
                                                    </td>
                                                  </tr>
                                                  </tbody>
                                                </table>
                                              </td>
                                            </tr>
                                            </tbody>
                                          </table>
                                          <table width="100%" class="ecxmcnCaptionBlock" style="border-collapse: collapse" border="0" cellspacing="0" cellpadding="0">
                                            <tbody class="ecxmcnCaptionBlockOuter">
                                            <tr>
                                              <td class="ecxmcnCaptionBlockInner" valign="top" style="padding: 9px">
                                                <table width="100%" class="ecxmcnCaptionRightContentOuter" style="border-collapse: collapse" border="0" cellspacing="0" cellpadding="0">
                                                  <tbody>
                                                  <tr>
                                                    <td class="ecxmcnCaptionRightContentInner" valign="top" style="padding: 0px 9px">
                                                      <table align="left" class="ecxmcnCaptionRightImageContentContainer" style="border-collapse: collapse" border="0" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                        <tr>
                                                          <td class="ecxmcnCaptionRightImageContent" valign="top">
                                                            <img width="264" class="ecxmcnImage" style="border: 0px currentColor; height: auto !important; text-decoration: none; vertical-align: bottom; -ms-interpolation-mode: bicubic; max-width: 400px" alt="" src="https://gallery.mailchimp.com/8c39d93e1efdd7472776f73d7/images/055040aa-9858-4525-b9bd-7a7076d41a3f.jpg"/>
                                                          </td>
                                                        </tr>
                                                        </tbody>
                                                      </table>
                                                      <table width="264" align="right" class="ecxmcnCaptionRightTextContentContainer" style="border-collapse: collapse" border="0" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                        <tr>
                                                          <td class="ecxmcnTextContent" valign="top" style="text-align: left; color: rgb(96, 96, 96); line-height: 125%; font-family: Helvetica; font-size: 11px">
                                                            <p style="padding: 0px; text-align: left; color: rgb(96, 96, 96); line-height: 125%; font-family: Helvetica; font-size: 11px">
                                                              <br/><br/><br/><span style="font-size: 14px">Vivasport sprlu </span><br/><br/><span style="font-size: 11px">0472 / 224658  l  <a style="color: rgb(96, 96, 96); font-weight: normal; text-decoration: underline; -ms-word-wrap: break-word" href="mailto:vivasport@live.be" onclick="return rcmail.command('compose','vivasport@live.be',this)" rel="noreferrer">vivasport@live.be</a> <br/><span style="color: rgb(169, 169, 169)">Be 0816.644.780  l  Rue de la Sarte, 38  6200 Châtelet  l  </span><a style="color: rgb(96, 96, 96); font-weight: normal; text-decoration: underline; -ms-word-wrap: break-word" href="http://www.vivasport.be/" target="_blank" rel="noreferrer"><span style="color: rgb(169, 169, 169)">Www.</span>vivasport.be</a></span><br/>
                                                            </p>
                                                          </td>
                                                        </tr>
                                                        </tbody>
                                                      </table>
                                                    </td>
                                                  </tr>
                                                  </tbody>
                                                </table>
                                              </td>
                                            </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td align="center" valign="top">
            <table width="600" id="ecxtemplateFooter" style="border-top-color: currentColor; border-bottom-color: currentColor; border-top-width: 0px; border-bottom-width: 0px; border-top-style: none; border-bottom-style: none; border-collapse: collapse; background-color: rgb(255, 255, 255)" border="0" cellspacing="0" cellpadding="0">
              <tbody>
              <tr>
                <td class="ecxfooterContainer" valign="top" style="padding-bottom: 9px"></td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>