<div class="content height-hundred" style="background-color:#00aeef">
  Chers directions,
  Chers enseignants,<br><br>

  Notre équipe développe et étudie chaque semaine de nouveaux services pour vos écoles.<br>

  <h3>> Envie d’organiser une journée sportive ?</h3>
  <ul>
    <li>> journée école</li>
    <li>> journée entité</li>
    <li>> fancy fair</li>
    <li>> journées pédagogiques</li>
  </ul>

  <h3>> Envie d’organiser autrement vos cours de natation ?</h3>

  <h3>> Envie d’organiser un séjour pédagogique ?</h3>
  <ul>
    <li>> classes de neige</li>
    <li>> classes sportives</li>
    <li>> classes de mer</li>
    <li>> classes vertes</li>
    <li>> sports d’hiver en pistes artificielles</li>
  </ul>

  <h3><%= link_to "Intéressé ? Contactez-nous ICI" , public_contact_path, :target => '_parent' %></h3>


</div>