<div class="content overflow-hidden height-hundred-480" style="background-color:#6d6e71">
  <h3>Envie de faire du sport dans ton école dès la sortie des classes ?</h3>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <h3>Modules possibles ?</h3>

        <ul>
          <li><b>> Zumba</b></li>
          <li><b>> Tennis</b></li>
          <li><b>> Multisports</b></li>
          <li><b>> Mini-foot</b></li>
        </ul>

        <br>

        <h3><%= link_to "Intéressé ? Contactez-nous ICI" , public_contact_path, :target => '_parent' %></h3>

      </div>

      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <h3>Ecoles participantes ?</h3>

        <ul>
          <li><b>> IND Loverval</b></li>
          <li><b>> ISM La Louvière</b></li>
          <li><b>> Autres écoles à venir...</b></li>
        </ul>

      </div>

    </div>

  </div>



</div>