<!-- Pushy Menu -->
<nav class="pushy pushy-left">
  <ul>
    <li><%= link_to t('menu_welcome'), public_root_path %></li>
    <li><%= link_to t('menu_refund'), public_refund_path %></li>
    <li><%= link_to t('menu_photo'), public_photos_path %></li>
    <li><%= link_to t('menu_contact'), public_contact_path %></li>
  </ul>
</nav>

<!-- Site Overlay -->
<div class="site-overlay"></div>