<h3>Photos de stage</h3><br>
<table class="table" id="bodyManageStage">

</table>


<h3>Photos journée sportive</h3><br>
<table class="table" id="bodyManageJournee">

</table>

<h3>Photos anniversaire</h3><br>
<table class="table" id="bodyManageAnniversaire">

</table>