<div class="content">
  <p><%= t('change_password_greeting') + ' ' +  @resource.email %>!</p>

  <p><%= t('change_password_confirmation') %></p>

  <p><%= t('change_password_confirmation_signature') %></p>
</div>
